.Question {
    border: 1px solid;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 700px;
    background-color: white;
    color: darkslategrey;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.Question-title,
.Question-text,
.Question-answers {
    padding: 0;
    margin: 0;
}

.Question-answers-image {
    width: 320px;
}

.Question-title {
    color: grey;
    font-size: 0.7em;
}

.Question-text {
    margin: 1em 0;
}

.Question-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Question-answers-item {
    padding: 1em;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    color: darkslategrey;
    background-color: hsla(210, 14%, 53%, 0.1);
    width: 300px;
}

.Question-answers-item:hover {
    background-color: darkslategrey;
    color: whitesmoke;
}

.Question-answers-item-image {
    width: 80px;
}