.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color:darkblue;
}

.Chemin {
  color: lightgray;
  text-align: left;
}

.Questions {
  margin: 0;
  padding: 0;
}